body {
    background-image: url('img/bg-color.jpg');
    background-attachment: fixed;
    font-family: Arial;
    text-align: left;
    margin: 0px;
    padding: 0px; 
}

#body {
    width: 72.5%;
    margin: 0 auto;
    clear: both;
}

#backheader {
	height: 281px;
	width: 100%;
    /* background-image: url('img/headerimage1.png');
    background-attachment: fixed;
	background-image: repeat-x; */
	margin-top: 1%;
	border-style: solid;
	border-color: #c9d008;
	border-radius: 10px;
	position:relative;
}

#topright{
	background-color: #faf5be;
	position: absolute;
    top: 1px;
    right: 1px;
	padding-right: 2%;
}

#logo {
	top: 40px;
    left: 30px;
	position: absolute;
}

#nav {
    height: auto;
	width: auto;
	font-size: 18px;
	background-color: #faf5be;
    border-radius: 5px;

	padding-top:-1%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: -1%;
	float: left;
	bottom: 1px;
	position: absolute;
}

#content {
	height:auto;
	width: 100%;
    margin-top: 5px;
}

#contentLeft{
	height: 428px;
    width: 60%;
    background-color: white;
	padding-top: 2%;
	padding-left: 2%;
    float: left;
	border-style: solid;
    border-color: #c9d008;
	border-radius: 10px;
}

#contentRight{
	height: auto;
    width: 34%;
    background-color: white;
	padding-top: 2%;
	padding-left: 2%;
    float: right;
    border-radius: 10px;
	border-style: solid;
    border-color: #c9d008;
}

#footer {
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
	padding-top: 5px;
    background-color: #ff7000;
    float:left;
    border-radius: 10px;
}