body
{
font-family: Arial;    
}
#backheader
{
    background-color: greenyellow;
    width: 100%;
    height: 80px;
}
#backmiddle
{
    width: 100%;
    height: 480px;
}
#footer
{
    background-color: darkorange;
    width: 100%;
    height: 40px;
}